# Ignore files
ConsoleApp1/obj/Debug/net6.0/
ConsoleApp1/obj/
ConsoleApp1/bin/Debug/net6.0/
ConsoleApp1/bin/
CSharpClass/obj/
CSharpClass/bin/
*.zip
log/*.log
log/*.log.[0-9]
*.dll
*.exe
*.pdb
*.cache
*.suo